{% extends '../main.html' %}

{% block content %}

	<h3>需要拿的快递们~</h3>
    <div class="row clearfix">
		<div class="col-md-9 column">
			<div class="list-group">
                {% if needs %}
                    {% for need in needs %}
				        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                 <a href="#">{{ need['need_title'] }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                <p> {{ need['need_content'] }}</p>
                            </p>
                        </div>
                    {% end %}
                {% end %}

			</div>
		</div>
        <div class="col-md-3 column">
            <ul class="side-ul">

                <li><a href="#section-5" class="side-li">所有需要拿的快递</a></li>
                <li><a href="#section-1" class="side-li">我帮人拿过的快递</a></li>
                <li><a href="#section-2" class="side-li">别人帮我拿过的快递</a></li>
                <li><a href="#section-3" class="side-li">我正在拿的快递</a></li>
                <li><a href="#section-4" class="side-li">邀请我拿的快递</a></li>

            </ul>
		</div>
	</div>


{% end %}